.btn{
    height: 30px;
    width: 70px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid green;
    color: green;
    cursor: pointer;
  }
  button{
    outline: none;
  }